@media (min-width: 768px){
    header.masthead {
        padding-top:88px;
    }
}
.navbar-brand {font-style:italic;font-family:Times New Roman;}

.nav-item{font-style:italic;font-family:Times New Roman;text-decoration: underline;}

 header.masthead{background-color: #2f3b55}

section.success{background-color: #2f3b55}
                            
hr.star-primary::after{color:#2f3b55;background-color:white}

hr.star-light:after{color:white;background-color:#2f3b55}

.img-fluid{border-radius: 10px}

footer h3{margin-bottom: 0px}

footer .footer-above{padding-top: 20px}

footer .footer-col {margin-bottom: 0px; }

